body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
    z-index: 1; /* Ensure form is above the background */
    position: relative;
    overflow-y: auto; /* Allow vertical scrolling */
}

input, textarea, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    width: 90%;
    max-width: 400px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    z-index: 1; /* Ensure movie items are above the background */
    position: relative;
    overflow-y: auto; /* Allow vertical scrolling */
    flex: 1; /* Allow the list to grow and shrink based on the viewport */
}

.movie-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin: 10px;
    z-index: 1; /* Ensure movie items are above the background */
    position: relative;
}

.movie-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.movie-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #343a40;
    text-align: center;
}

.movie-genre, .movie-director {
    color: #6c757d;
}

.movie-description {
    margin-top: 10px;
    color: #495057;
}

.movie-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .movie-item {
        flex-basis: calc(50% - 40px);
    }
}

@media (min-width: 1024px) {
    .movie-item {
        flex-basis: calc(33.33% - 40px);
    }
}
